* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: var(--bg-main);
    color: var(--text);
    font-size: 16px;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 90%;
    max-width: 1280px;
}

.hide {
    /* '!important' is to make sure that when we add the class using JS, it takes precedence */
    display: none !important;
}

h1 {
    color: var(--accent);
    margin-bottom: 4px;
}
